<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dash.css" type="text/css"/>
    <link rel="stylesheet" href="/css/about.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="bars"></div>
	</div>
    <div class="about-container">
        <div class="about-content">
          <div class="about-header">
            <span>About</span>
            <span>Us</span>
          </div>
          <div class="about-box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="about-box-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo doloribus in animi qui, sequi numquam sed accusantium alias omnis, aliquam officiis nesciunt. Maxime veritatis vero magnam quam nulla quod.
            </div>
          </div>
        </div>
        <!--
        <div class="team-section">
            <h1>Our Team</h1>
            <div class="team-members">
                <div class="team-tile">
                    <img src="/images/noimg-3.jpg">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque neque reprehenderit nisi adipisci. Deleniti reiciendis architecto dolore quia est quaerat aliquid cumque suscipit voluptates ut! Facilis, animi error! Asperiores, enim!</p>
                </div>
                <div class="team-tile">
                    <img src="/images/noimg-3.jpg">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque neque reprehenderit nisi adipisci. Deleniti reiciendis architecto dolore quia est quaerat aliquid cumque suscipit voluptates ut! Facilis, animi error! Asperiores, enim!</p>
                </div>
                <div class="team-tile">
                    <img src="/images/noimg-3.jpg">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque neque reprehenderit nisi adipisci. Deleniti reiciendis architecto dolore quia est quaerat aliquid cumque suscipit voluptates ut! Facilis, animi error! Asperiores, enim!</p>
                </div>
            </div>
        </div>-->
    </div>

    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="/images/noimg-3.jpg" alt="Team_image">
            </div>
            <h3>Lorem Ipsum</h3>
            <p class="role">Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, molestiae voluptatem enim voluptas nesciunt quod dolore eum ad animi ea.</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              8905672341
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              janedoe@gmail.com
                </span></div>
          <div class="social">
            <a href="#"><i class="insta fa fa-instagram"></i></a>
            <a href="#"><i class="github fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
          </div></div>
        
          <div class="team_member">
            <div class="team_img">
              <img src="/images/noimg-3.jpg" alt="Team_image">
            </div>
            <h3>Lorem Ipsum</h3>
            <p class="role">Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur quasi explicabo aperiam earum quo ut, saepe libero esse debitis.</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              +91 9876543210
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              test12345@gmail.com
                </span></div>
                <div class="social">
                    <a href="#"><i class="insta fa fa-instagram"></i></a>
                    <a href="#"><i class="github fa fa-github" aria-hidden="true"></i></a>
                    <a href="#"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
                  </div></div>
            <div class="team_member">
            <div class="team_img">
              <img src="/images/noimg-3.jpg" alt="Team_image">
            </div>
            <h3>Lorem Ipsum</h3>
            <p class="role">Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, accusantium sed quae odit quia impedit amet. Sequi illum cumque modi?</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              +91 8129262090
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              johndoe@gmail.com
                </span></div>
                <div class="social">
                    <a href="#"><i class="insta fa fa-instagram"></i></a>
                    <a href="#"><i class="github fa fa-github" aria-hidden="true"></i></a>
                    <a href="#"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
                  </div></div></div>
        </div>
      </div>	


    <footer class="about-footer">
        <div class="footer-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-content">
            Copyright &copy; 2021 Kemosabe2911
        </div>
    </footer>
	<nav>
		<h2>Logo</h2>
		<div class="close">
			<div></div>
		</div>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/contact">Contact</a></li>
      <li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/rellax.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        //Initialize AOS
        AOS.init();
        //Initialize Rellax.js
        var rellax = new Rellax('.rellax'); 
    </script>
</body>
</html>