<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="bars"></div>
	</div>
    <div class="section-top" style="background: url('/images/bg3.jpg') no-repeat cover;">
        <img class="rellax" src="/images/bg3.jpg" alt="Image not found" data-rellax-speed="4" data-rellax-xs-speed="3">
        <div class="section-top-content">
            <h1 class="rellax"  data-rellax-speed="1" >Lorem Ipsum</h1>
            <p class="rellax" data-rellax-speed="1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem odio distinctio excepturi consequuntur molestiae molestias et facere inventore pariatur blanditiis.</p>
        </div>
    </div>
    <div class="tiles">
        <div class="tile" data-aos="fade-right" data-aos-delay="400">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore doloremque tenetur explicabo labore assumenda excepturi incidunt. In ut quis, cupiditate quae, consequatur, non aut magnam aliquid nulla vel ea quasi!
        </div>
        <div class="tile" data-aos="fade-right" data-aos-delay="300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore doloremque tenetur explicabo labore assumenda excepturi incidunt. In ut quis, cupiditate quae, consequatur, non aut magnam aliquid nulla vel ea quasi!
        </div>
        <div class="tile" data-aos="fade-right" data-aos-delay="200">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore doloremque tenetur explicabo labore assumenda excepturi incidunt. In ut quis, cupiditate quae, consequatur, non aut magnam aliquid nulla vel ea quasi!
        </div>
    </div>
    <div class="section-mid">
        <div class="section-container" data-aos="fade-left" >
            <div class="content one">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt error laborum est fugiat sit iusto assumenda, necessitatibus dolore nesciunt distinctio? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatem similique quas quibusdam dolorum voluptatum ad veniam, iste quo in velit cupiditate nihil, sed odit eos nisi possimus! Odio, dolorum?</p>
            </div>
            <div class="content-img">
                <img src="/images/bg1.jpg" alt="img not found">
            </div>
        </div>
        <div class="section-container mt" data-aos="fade-right" >
            <div class="content">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt error laborum est fugiat sit iusto assumenda, necessitatibus dolore nesciunt distinctio? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatem similique quas quibusdam dolorum voluptatum ad veniam, iste quo in velit cupiditate nihil, sed odit eos nisi possimus! Odio, dolorum?</p>
            </div>
            <div class="content-img">
                <img src="/images/bg1.jpg" alt="img not found">
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-content">
            Copyright &copy; 2021 Kemosabe2911
        </div>
    </footer>
	<nav>
		<h2>Logo</h2>
		<div class="close">
			<div></div>
		</div>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/rellax.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        //Initialize AOS
        AOS.init();
        //Initialize Rellax.js
        var rellax = new Rellax('.rellax'); 
    </script>
</body>
</html>